language: go
sudo: required
dist: trusty
go:
  - "1.10.1"
services:
  - docker
jobs:
 include:
  - stage: test
    before_install:
      - sudo apt-get install -y curl
      - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
    install:
      - dep ensure
    script:
      - go test ./driver
  - stage: functional-test
    before_install:
      - sudo apt-get install -y curl jq
      - chmod +x ./.travis/functional-tests.sh
    install:
      - docker build . -t yassine-soxy-driver
      - docker run -d -v '/var/run/docker.sock':'/var/run/docker.sock' -v '/run/docker/plugins':'/run/docker/plugins' --net host --name soxy-driver --privileged yassine-soxy-driver
      - docker network create -d soxy-driver soxy_network
    script:
      - docker run --rm -it --net soxy_network uzyexe/curl --max-time 15 --retry 5 -s https://check.torproject.org/api/ip | jq '.IsTor' | grep true
      # other functional tests
      - ./.travis/functional-tests.sh
  - stage: deploy
    install:
      - docker build . -t yassine-soxy-driver
      - docker tag yassine-soxy-driver $DOCKER_USERNAME/soxy-driver:latest
      - docker tag yassine-soxy-driver $DOCKER_USERNAME/soxy-driver:$(cat ./VERSION)
    after_success:
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - docker push $DOCKER_USERNAME/soxy-driver:latest
      - docker push $DOCKER_USERNAME/soxy-driver:$(cat ./VERSION)
stages:
  - test
  - functional-test
  - name: deploy
    if: branch = master